package co.epitre.aelf_lectures.data;

public class Credentials {
    /**
     * AELF met à disposition un accès à ses données via une API sous forme de
     * flux RSS. Pour fonctionner l'application AELF lecture du jour a besoin
     * d'un accès à chacun de ces flux.
     * 
     * Pour obtenir un les accès:
     * 1/ identifiez-vous sur http://services.aelf.org/
     * 2/ http://webmaster.aelf.org/
     * 3/ ajoutez un flux par office ("mode"), avec une date prédéfinie.
     * 4/ le lien obtenu se termine par un UUID (une suite de chiffres et de lettres séparés par des tirets), c'est cette valeur dont l'application a besoin.
     * 
     * Une fois configuré, renommez ce fichier en Credentials.java.
     */
    public static final String API_ENDPOINT = "http://rss.aelf.orf";

    public static final String API_KEY_MESSE    = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_LECTURES = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_LAUDES   = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_TIERCE   = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_SEXTE    = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_NONE     = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_VEPRES   = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_COMPLIES = "00000000-aaaa-2222-3333-cccccccccccc";
    public static final String API_KEY_METAS    = "00000000-aaaa-2222-3333-cccccccccccc";

}
