/* General theme */

body {
    background-color: #1d1e23;
    color: #f8f7fa;
}

font[color='#cc0000'], font[color='#ff0000'], font[color='#CC0000'], font[color='#FF0000'] {
    color: #f9787e;
}
font[color='#000000'] {
    color: #f8f7fa;
}

/* Navigation button */

.app-office-navigation a {
    color: #f8f7fa;
    border-color: #f8f7fa;
}

.app-office-navigation a:active, .app-office-navigation a.active {
    color: #f8f7fa;
    background-color: #1d1e23;
}

/* Verse styling with optional line-wrap support */

.verse {
    color: #f9787e;
}

/* Mark currently selected verse */

.line:focus {
    border-left-color: #f9787e;
}

/* Antiennes */

.antienne-title {
   color: #f9787e;
}

/* Highlight search keyword */

mark {
    color: #f8f7fa;
}

/* Highlight reference verse */

.highlight {
    background-color: #f9787e33;
}
