/* General theme */

body {
    background-color: rgba(239, 227, 206, 1);
    color: rgba(93, 69, 26, 1);
}

font[color='#cc0000'], font[color='#ff0000'], font[color='#CC0000'], font[color='#FF0000'] {
    color: rgba(191, 35, 41, 1);
}
font[color='#000000'] {
    color: rgba(93, 69, 26, 1);
}

/* Navigation button */

.app-office-navigation a {
    color: rgba(93, 69, 26, 1);
    border-color: rgba(93, 69, 26, 1);
}

.app-office-navigation a:active, .app-office-navigation a.active {
    color: rgba(93, 69, 26, 1);
    background-color: rgba(239, 227, 206, 1);
}

/* Verse styling with optional line-wrap support */

.verse {
    color: rgba(191, 35, 41, 1);
}

/* Mark currently selected verse */

.line:focus {
    border-left-color: rgba(191, 35, 41, 1);
}

/* Antiennes */

.antienne-title {
   color: rgba(191, 35, 41, 1);
}

/* Highlight search keyword */

mark {
    color: rgba(93, 69, 26, 1);
}

/* Highlight reference verse */

.highlight {
    background-color: rgba(191, 35, 41, .12);
}
