<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.epitre.aelf_lectures"
    android:installLocation="auto"
    android:versionCode="47"
    android:versionName="@string/app_version" >

    <!-- Required for fetching feed data. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Required because we're killing the background sync to pick up changes -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name="co.epitre.aelf_lectures.LecturesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AelfAppThemeLight" >
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity
            android:name="co.epitre.aelf_lectures.LecturesActivity"
            android:resizeableActivity="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Automatically load on desktop website -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.aelf.org" />
                <data android:path="/" />
                <data android:pathPrefix="/20" />
            </intent-filter>

        </activity>
        <activity
            android:name="co.epitre.aelf_lectures.SyncPrefActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
       			<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
       			<category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
        </activity>
        
        <!-- ContentProvider to store feed data.

        The "authorities" here are defined as part of a ContentProvider interface. It's used here
        as an attachment point for the SyncAdapter. See res/xml/syncadapter.xml and
        SyncService.java.

        Since this ContentProvider is not exported, it will not be accessible outside of this app's
        package. -->
        <provider
                android:name="co.epitre.aelf_lectures.sync.StubProvider"
                android:authorities="co.epitre.aelf"
                android:exported="false"
                android:syncable="true" />
  
        <!-- This service implements our SyncAdapter. It needs to be exported, so that the system
        sync framework can access it. -->
        <service 
            android:name="co.epitre.aelf_lectures.sync.SyncService" 
            android:exported="true"
            android:process=":sync">
            <!-- This intent filter is required. It allows the system to launch our sync service
            as needed. -->
            <intent-filter>co.epitre.aelf_lectures.sync.StubProvider
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>
        
        <!-- This implements the account we'll use as an attachment point for our SyncAdapter. Since
        our SyncAdapter doesn't need to authenticate the current user (it just fetches a public RSS
        feed), this account's implementation is largely empty.

        It's also possible to attach a SyncAdapter to an existing account provided by another
        package. In that case, this element could be omitted here. -->
        <service android:name="co.epitre.aelf_lectures.sync.AuthenticatorService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XML file which describes our account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
